.svn
.DS_Store
*.pyc
install.log
buildenv.sh
config.log
config.status
autom4te.cache
Plone-docs
*.gz
*.bz2
init_scripts/MSWebPI/web-pi.xml
init_scripts/MSWebPI/*.msdeploy/MANIFEST
init_scripts/MSWebPI/*.msdeploy/Manifest.xml
init_scripts/MSWebPI/Plone.msdeploy/PloneApp/zinstance
init_scripts/MSWebPI/Plone.msdeploy/PloneApp/zeocluster
init_scripts/MSWebPI/Plone.msdeploy/PloneApp/base_skeleton/
init_scripts/MSWebPI/Plone.msdeploy/PloneApp/buildout_templates/
init_scripts/MSWebPI/Plone.msdeploy/PloneApp/helper_scripts/
init_scripts/MSWebPI/Plone.msdeploy/PloneApp/Include/
init_scripts/MSWebPI/Plone.msdeploy/PloneApp/Lib/
init_scripts/MSWebPI/Plone.msdeploy/PloneApp/Scripts/
init_scripts/MSWebPI/Plone.msdeploy/PloneApp/iis_deploy.stamp
init_scripts/MSWebPI/Plone.msdeploy/PloneApp/web.config
