.svn
.DS_Store
*.pyc
install.log
buildenv.sh
config.log
config.status
autom4te.cache
Plone-docs
*.gz
*.bz2
init_scripts/MSWebPI/web-pi.xml
init_scripts/MSWebPI/*.msdeploy/MANIFEST
init_scripts/MSWebPI/*.msdeploy/Manifest.xml
init_scripts/MSWebPI/Plone.msdeploy/zinstance
init_scripts/MSWebPI/Plone.msdeploy/zeocluster
init_scripts/MSWebPI/Plone.msdeploy/base_skeleton/
init_scripts/MSWebPI/Plone.msdeploy/buildout_templates/
init_scripts/MSWebPI/Plone.msdeploy/helper_scripts/
init_scripts/MSWebPI/Plone.msdeploy/Include/
init_scripts/MSWebPI/Plone.msdeploy/Lib/
init_scripts/MSWebPI/Plone.msdeploy/lib/
init_scripts/MSWebPI/Plone.msdeploy/Scripts/
init_scripts/MSWebPI/Plone.msdeploy/bin/
init_scripts/MSWebPI/Plone.msdeploy/local/
init_scripts/MSWebPI/Plone.msdeploy/iis_install.stamp
init_scripts/MSWebPI/Plone.msdeploy/web.config
