include web.config.in
include easy_install.txt
include iis_deploy.py
include iis_deploy.stamp

include base_skeleton/*
include base_skeleton/products/README.*
include base_skeleton/src/README.*
include base_skeleton/var/README.*

recursive-include buildout_templates *
recursive-include helper_scripts *.py *.txt

recursive-include Lib/site-packages *
recursive-include buildout-cache/eggs *

global-exclude *.pyc *.pyo *~
